<main class='container' style="width: 40%;">
  <h1>Lista de Diaristas</h1>
  <table class='table'>
    <thead>
      <th>ID</th>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Idade</th>
    </thead>
    <tbody>
      {{#each diaristas}}
      <tr>
        <th>{{this.id}}</th>
        <td><a href="/diaristas/{{this.id}}">{{this.nome}}</a></td>
        <td>{{this.endereco}}</td>
        <td>{{this.idade}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="diaristas/create" class="btn btn-success">Novo Diarista</a>
</main>